* {
  font-family: 'VT323', monospace;
  font-size: 18px;
}
body {
  background-color: #008081;
  color: #000;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}
.form-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.windows-alert {
  background-color: #c0c0c0;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}
.windows-alert-title {
  background-color: #000181;
  color: white;
  padding: 4px;
  margin: 2px;
}
.windows-alert-body {
  padding: 20px;
}
.windows-alert-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
input:focus, button:focus {
  outline: none;
}
label {
  margin-right: 5px;
}
.btn {
  cursor: pointer;
  background-color: #c0c0c0;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
}
.btn:active {
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.btn-full {
  width: 100%;
}

.url-input {
  width: 100%;
}
.new-url {
  display: flex;
  font-size: 16px;
  margin: 0px 16px 0px 0px;
  margin-bottom: 10px;
}
.original-url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hidden {
  display: none;
}


.back-window {
  margin-top: 30px;
  position: absolute;
  width: 50%;
  z-index: -1;
  height: 74%;
}
.back-window > .windows-alert-body {
  background-image: url("/static/background.png");
  height: 83%;
}
.new-url-window {
  margin-left: auto;
  width: 50%;
}
.form-window {
  width: 70%;
}